<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.5"> 
    <name lang="en">openmeetings</name> 
    <description lang="en">Apache OpenMeetings is a Multi-Language Cross-Platform Customizable Video-Conferencing and Collaboration Flash based web application.</description> 
    <maintainers>
        <maintainer> 
            <name>Apache OpenMeetings</name> 
            <email>openmeetings-user@incubator.apache.org</email> 
        </maintainer>
    </maintainers> 
    <url>http://incubator.apache.org/openmeetings/</url> 
    <license>ASF</license> 
    <release> 
        <version>0.5</version> 
        <date>2012-07-02</date> 
        <state>stable</state> 
	<notes>Requires Apache OpenMeetings to be installed on the user's system.  Details can be found at http://incubator.apache.org/openmeetings/installation.html</notes> 
    </release> 
</module>
