<html>
<head>
    <title>$i18n.getText("openmeetings.config.titel.label")</title>
    <meta name="decorator" content="atl.general">
</head>
<body class="page-type-admin">
<div class="content-container">

    <div class="content-body">
        <h1>$i18n.getText("openmeetings.config.server.label") $omConfig.getKey()</h1>

        #if ($errors.size()>0)
            <div class="aui-message error shadowed">
                #foreach($error in $errors)
                    <p class="title">
                        <span class="aui-icon icon-error"></span>
                        <strong>$error</strong>
                    </p>
                #end
            </div>
            <!-- .aui-message -->
        #end
        <div class="create-issue-panel">
            <form method="post" id="h" action="openmeetingsadmin" class="aui">
                <input type="hidden" name="edit" value="y">
                <input type="hidden" name="key" value="$omConfig.getKey()">
                <div class="field-group">
                    <label for="h-furl">
                        $i18n.getText("openmeetings.config.url.label")
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>
                    <input id="h-furl" class="text long-field" type="text" name="url" value="$!omConfig.getOmUrl()">
                </div>
                <div class="field-group">
                    <label for="h-fport">
                        $i18n.getText("openmeetings.config.port.label")
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>
                    <textarea id="h-fport" name="port">$!omConfig.getOmPort()</textarea>
                </div>                
                 <div class="field-group">
                    <label for="h-fusername">
                        $i18n.getText("openmeetings.config.username.label")
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>
                    <textarea id="h-fusername" name="username">$!omConfig.getOmUserName()</textarea>
                </div>                
                <div class="field-group">
                    <label for="h-fdescription">
                        $i18n.getText("openmeetings.config.userpass.label")
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>
                    <textarea id="h-fuserpass" name="userpass">$!omConfig.getOmUserPass()</textarea>
                </div>                                
                <div class="field-group">
                    <label for="h-fdescription">
                        $i18n.getText("openmeetings.config.key.label")
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>
                    <textarea id="h-fkey" name="description">$!omConfig.getOmKey()</textarea>
                </div>                
                <div class="buttons">
                    <input class="button" type="submit" value="$i18n.getText("openmeetings.admin.save.label")">&nbsp;
                    <a href="$requestContext.baseUrl/plugins">$i18n.getText("openmeetings.rooms.cancel.label")</a>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>