<!--
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 -->
<html>
<head>
    <title>$i18n.getText("openmeetings.rooms.edit.titel.label")</title>
    <meta name="decorator" content="atl.general">
</head>
<body class="page-type-admin">
<div class="content-container">

    <div class="content-body">
       <!-- <h1>$i18n.getText("openmeetings.rooms.edit.titel.label"): $room.getName()</h1>-->

        #if ($errors.size()>0)
            <div class="aui-message error shadowed">
                #foreach($error in $errors)
                    <p class="title">
                        <span class="aui-icon icon-error"></span>
                        <strong>$error</strong>
                    </p>
                #end
            </div>
            <!-- .aui-message -->
        #end    	
        <div class="create-issue-panel">

            <form method="post" id="h" action="openmeetingsrooms" class="aui">
            	<input type="hidden" name="edit" value="y">
                <input type="hidden" name="key" value=$room.getID()>
                <div class="field-group">
                    <label for="h-froomname">
                        Roomname
                        <span class="aui-icon icon-required"></span>
                        <span class="content">required</span>
                    </label>
                    <input id="h-froomname" class="text long-field" type="text" name="roomname" value="$room.getName()">
                </div>
                <div class="field-group">
                    <label for="h-froomtype">
                        Roomtype                        
                    </label>
                    <select name="roomType" id="om-roomtype" style="width: 30%;">
                        <option value="1" #if ("$room.getRoomType()" == "2")selected#end>$i18n.getText("openmeetings.rooms.edit.conference.label")</option>
                        <option value="2" #if ("$room.getRoomType()" == "2")selected#end>$i18n.getText("openmeetings.rooms.edit.audience.label")</option>
                        <option value="3" #if ("$room.getRoomType()" == "3")selected#end>$i18n.getText("openmeetings.rooms.edit.restricted.label")</option>
                        <option value="4" #if ("$room.getRoomType()" == "4")selected#end>$i18n.getText("openmeetings.rooms.edit.interview.label")</option>                        
                    </select>
                </div>
                <div class="field-group">
                    <label for="h-fnr-participent">
                        Nr. of Participent                       
                    </label>
                    <select name="numberOfParticipent" id="om-participent" style="width: 30%;">
                        <option value="5" #if ("$room.getNumberOfParticipent()" == "5")selected#end>5</option>
                        <option value="10" #if ("$room.getNumberOfParticipent()" == "10")selected#end>10</option>
                        <option value="20" #if ("$room.getNumberOfParticipent()" == "20")selected#end>20</option>
                        <option value="30" #if ("$room.getNumberOfParticipent()" == "30")selected#end>30</option>
                        <option value="60" #if ("$room.getNumberOfParticipent()" == "60")selected#end>60</option>
                        <option value="100" #if ("$room.getNumberOfParticipent()" == "100")selected#end>100</option>
                        <option value="150" #if ("$room.getNumberOfParticipent()" == "150")selected#end>150</option>
                    </select>
                </div>
                <div class="field-group">
                    <label for="h-fmoderated">
                        Is moderated
                    </label>
                    <select name="isModeratedRoom" id="om-is-moderated" style="width: 30%;">
                        <option value="false" #if ("$room.getIsModeratedRoom()" == "false")selected#end>$i18n.getText("openmeetings.rooms.no.label")</option>
                        <option value="true" #if ("$room.getIsModeratedRoom()" == "true")selected#end>$i18n.getText("openmeetings.rooms.yes.label")</option>                       
                    </select>
                </div>
                <div class="field-group">
                    <label for="h-faudioonly">
                        Is audio only
                    </label>
                    <select name="isAudioOnly" id="om-is-moderated" style="width: 30%;">
                        <option value="false" #if ("$room.getIsAudioOnly()" == "false")selected#end>$i18n.getText("openmeetings.rooms.no.label")</option>
                        <option value="true" #if ("$room.getIsAudioOnly()" == "true")selected#end>$i18n.getText("openmeetings.rooms.yes.label")</option>                       
                    </select>
                </div>
                <div class="field-group">
                    <label for="h-fallow-recording">
                        Allow Recording
                    </label>
                    <select name="isAllowedRecording" id="om-allow-recording" style="width: 30%;">
                        <option value="false" #if ("$room.getIsAllowedRecording()" == "false")selected#end>$i18n.getText("openmeetings.rooms.no.label")</option>
                        <option value="true" #if ("$room.getIsAllowedRecording()" == "true")selected#end>$i18n.getText("openmeetings.rooms.yes.label")</option>                       
                    </select>
                </div>
                <div class="buttons">
                    <input class="button" type="submit" value=$i18n.getText("openmeetings.admin.save.label")>&nbsp;
                    <a href="openmeetingsrooms">Cancel</a>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>