<html>
<head>
    <title>$i18n.getText("openmeetings.rooms.edit.titel.label")</title>
    <meta name="decorator" content="atl.general">
</head>
<body class="page-type-admin">
<iframe name="IframeName" src=$roomURL width='100%' height='600px'></iframe>
</body>