<?xml version="1.0" encoding="utf-8"?>
<!--
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 -->
<config>
	<fieldset name="settings" label="Connection Settings"
		description="Connection Settings">
		<field name="url" type="text" size="64" label="URL path"
			description="The path to the application address. For example: http://localhost:5080"
			default="http://localhost:5080" />
		<field name="context" type="text" size="64" label="Context"
			description="Context of Openmeetings (for ex. openmeetings)"
			default="openmeetings" />
		<field name="moduleKey" type="text" size="64" label="Module Key"
			description="Module key unique for multiple plugin" default="joomla" />
		<field name="username" type="text" size="64" label="Username"
			description="Username for Openmeetings account" default="admin" />
		<field name="password" type="password" size="64" label="Password"
			description="Password for Openmeetings account" default="test" />
	</fieldset>
</config>
